@-webkit-keyframes showProject {
  0% {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  100% {
    -webkit-transform: translateY(100vw);
            transform: translateY(100vw);
  }
}

@keyframes showProject {
  0% {
    -webkit-transform: translateY(0vw);
            transform: translateY(0vw);
  }
  100% {
    -webkit-transform: translateY(100vw);
            transform: translateY(100vw);
  }
}

@-webkit-keyframes post-animation-post-ism {
  0% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
  }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
  }
  50% {
    -webkit-transform: skewX(60deg);
            transform: skewX(60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
  }
  75% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
  100% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
  }
}

@keyframes post-animation-post-ism {
  0% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
  }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
  }
  50% {
    -webkit-transform: skewX(60deg);
            transform: skewX(60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
  }
  75% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
  }
  100% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
  }
}

@-webkit-keyframes post-animation-post {
  0% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-right: calc(calc(1.6vw + 2vh) * 0.05);
  }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-right: calc(calc(1.6vw + 2vh) * 0.45);
  }
  50% {
    -webkit-transform: skewX(60deg);
            transform: skewX(60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-right: calc(calc(1.6vw + 2vh) * 0.05);
  }
  75% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-right: calc(calc(1.6vw + 2vh) * 0.45);
  }
  100% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-right: calc(calc(1.6vw + 2vh) * 0.05);
  }
}

@keyframes post-animation-post {
  0% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-right: calc(calc(1.6vw + 2vh) * 0.05);
  }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-right: calc(calc(1.6vw + 2vh) * 0.45);
  }
  50% {
    -webkit-transform: skewX(60deg);
            transform: skewX(60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-right: calc(calc(1.6vw + 2vh) * 0.05);
  }
  75% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-right: calc(calc(1.6vw + 2vh) * 0.45);
  }
  100% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-right: calc(calc(1.6vw + 2vh) * 0.05);
  }
}

@-webkit-keyframes post-animation-ism {
  0% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-left: calc(calc(1.6vw + 2vh) * 0.5);
  }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-left: calc(calc(1.6vw + 2vh) * 0.1);
  }
  50% {
    -webkit-transform: skewX(60deg);
            transform: skewX(60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-left: calc(calc(1.6vw + 2vh) * 0.5);
  }
  75% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-left: calc(calc(1.6vw + 2vh) * 0.1);
  }
  100% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-left: calc(calc(1.6vw + 2vh) * 0.5);
  }
}

@keyframes post-animation-ism {
  0% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-left: calc(calc(1.6vw + 2vh) * 0.5);
  }
  25% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-left: calc(calc(1.6vw + 2vh) * 0.1);
  }
  50% {
    -webkit-transform: skewX(60deg);
            transform: skewX(60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-left: calc(calc(1.6vw + 2vh) * 0.5);
  }
  75% {
    -webkit-transform: skewX(0deg);
            transform: skewX(0deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.18);
    margin-left: calc(calc(1.6vw + 2vh) * 0.1);
  }
  100% {
    -webkit-transform: skewX(-60deg);
            transform: skewX(-60deg);
    letter-spacing: calc(calc(1.6vw + 2vh) * -0.1);
    margin-left: calc(calc(1.6vw + 2vh) * 0.5);
  }
}

.move-1 > .post,
.move-1 > .ism {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}

.move-2 > .post,
.move-2 > .ism {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.move-3 > .post,
.move-3 > .ism {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.move-4 > .post,
.move-4 > .ism {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}

.move-5 > .post,
.move-5 > .ism {
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}

.move-6 > .post,
.move-6 > .ism {
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

.move-7 > .post,
.move-7 > .ism {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.move-8 > .post,
.move-8 > .ism {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

.move-9 > .post,
.move-9 > .ism {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.move-10 > .post,
.move-10 > .ism {
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
}

.move-11 > .post,
.move-11 > .ism {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

.move-12 > .post,
.move-12 > .ism {
  -webkit-animation-delay: 2.2s;
          animation-delay: 2.2s;
}

.move-13 > .post,
.move-13 > .ism {
  -webkit-animation-delay: 2.4s;
          animation-delay: 2.4s;
}

.move-14 > .post,
.move-14 > .ism {
  -webkit-animation-delay: 2.6s;
          animation-delay: 2.6s;
}

.move-15 > .post,
.move-15 > .ism {
  -webkit-animation-delay: 2.8s;
          animation-delay: 2.8s;
}
/*# sourceMappingURL=animations.css.map */