$font-size-list: calc(1.6vw + 2vh);

@keyframes showProject {
  0% {
    transform: translateY(0vw);
  }

  100% {
    transform: translateY(100vw);
  }
}

@keyframes post-animation-post-ism {

  0% {
    transform: skewX(-60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
  
  }

  25% {
    transform: skewX(0deg);
    letter-spacing: calc(#{$font-size-list} * -0.18);
  }

  50% {
    transform: skewX(60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1);
  }

  75% {
    transform: skewX(0deg);
    letter-spacing: calc(#{$font-size-list} * -0.18); 
  }

  100% {
    transform: skewX(-60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
  }
}

@keyframes post-animation-post {

  0% {
    transform: skewX(-60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
    margin-right: calc(#{$font-size-list} * 0.05);
  }

  25% {
    transform: skewX(0deg);
    letter-spacing: calc(#{$font-size-list} * -0.18);
    margin-right: calc(#{$font-size-list} * 0.45); 
  }

  50% {
    transform: skewX(60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1);
    margin-right: calc(#{$font-size-list} * 0.05); 
  }

  75% {
    transform: skewX(0deg);
    letter-spacing: calc(#{$font-size-list} * -0.18); 
    margin-right: calc(#{$font-size-list} * 0.45);
  }

  100% {
    transform: skewX(-60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
    margin-right: calc(#{$font-size-list} * 0.05);
  }
}

@keyframes post-animation-ism {

  0% {
    transform: skewX(-60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
    margin-left: calc(#{$font-size-list} * 0.5);
  }

  25% {
    transform: skewX(0deg);
    letter-spacing: calc(#{$font-size-list} * -0.18); 
    margin-left: calc(#{$font-size-list} * 0.1);
  }

  50% {
    transform: skewX(60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
    margin-left: calc(#{$font-size-list} * 0.5);
  }

  75% {
    transform: skewX(0deg);
    letter-spacing: calc(#{$font-size-list} * -0.18); 
    margin-left: calc(#{$font-size-list} * 0.1);
  }

  100% {
    transform: skewX(-60deg);
    letter-spacing: calc(#{$font-size-list} * -0.1); 
    margin-left: calc(#{$font-size-list} * 0.5);
  }
}


.move-1>.post,
.move-1>.ism {
  animation-delay: 0s;
}

.move-2>.post,
.move-2>.ism {
  animation-delay: 0.2s;
}

.move-3>.post,
.move-3>.ism {
  animation-delay: 0.4s;
}

.move-4>.post,
.move-4>.ism {
  animation-delay: 0.6s;
}

.move-5>.post,
.move-5>.ism {
  animation-delay: 0.8s;
}

.move-6>.post,
.move-6>.ism {
  animation-delay: 1s;
}

.move-7>.post,
.move-7>.ism {
  animation-delay: 1.2s;
}

.move-8>.post,
.move-8>.ism {
  animation-delay: 1.4s;
}

.move-9>.post,
.move-9>.ism {
  animation-delay: 1.6s;
}

.move-10>.post,
.move-10>.ism {
  animation-delay: 1.8s;
}

.move-11>.post,
.move-11>.ism {
  animation-delay: 2s;
}

.move-12>.post,
.move-12>.ism {
  animation-delay: 2.2s;
}

.move-13>.post,
.move-13>.ism {
  animation-delay: 2.4s;
}

.move-14>.post,
.move-14>.ism {
  animation-delay: 2.6s;
}

.move-15>.post,
.move-15>.ism {
  animation-delay: 2.8s;
}