// ============================================================================
//      modules

$font-size-list: calc(1.6vw + 2vh);
$font-size-list: calc(1.6vw + 2vh);
$font-size-menu: calc(0.7 * #{$font-size-list});
$font-size-text: calc((1.1vw + 0.6vh));
$font-line-text: calc(1.2 * #{$font-size-text});
$main-margin: 1vw;
$project-title: calc(3 * #{$font-size-text});
$project-subtitle: calc((3vw + 2vh) / 2);
$project-margin: calc(3.2vh + #{$main-margin});



// ============================================================================
// hide browser scroll

::-webkit-scrollbar {
  display: none;
}





// ============================================================================
//      global obj

body {
  font-family: 'nimbus';
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
  font-size: $font-size-text;
}





// ============================================================================
//                                    LAYOUT


// ===================
//       menu
// ===================

#menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  writing-mode: vertical-rl;
  z-index: 3;
}

.menu-section-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu-item {
  cursor: pointer;
  margin: $main-margin;
  font-size: $font-size-menu;
}

#eng {
  margin-bottom: 5px;
}

#pt {
  margin-top: 5px;
}

#slash {
  margin-top: 0px;
  margin-bottom: 0px;
}

// selected section on menu decoration
.sec-open {
  text-decoration: underline;
}







// ===================
//       ensaion
// ===================
#ensaio {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}







// ===================
//        list
// ===================
#wrapper {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  scrollbar-width: none;
}

#list-wrapper {
  height: 100%;
  width: max-content;
  overflow-y: hidden;
  z-index: 2;
}

.list-item {
  font-size: $font-size-list;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: $main-margin;
  margin-top: $main-margin;
}

.listed-project {
  cursor: pointer;
  margin-top: calc(#{$font-size-list} * 0.063);
}

.listed-project:hover {
  text-decoration: underline;
}

.post,
.ism {
  font-family: pix-regu;
  transform: skewX(-60deg);
  letter-spacing: calc(#{$font-size-list} * -0.18);
  margin-left: calc(#{$font-size-list} * 0.2);
}

.post {
  letter-spacing: calc(#{$font-size-list} * -0.1);
  margin-right: calc(#{$font-size-list} * 0.05);
  margin-left: calc(#{$font-size-list} * 0.5);
  animation: post-animation-post 5.5s infinite steps(5, end) forwards;
}

.ism {
  margin-right: calc(#{$font-size-list} * 0.5);
  margin-left: calc(#{$font-size-list} * 0.5);
  animation: post-animation-ism 5.5s infinite steps(5, end) forwards;
}

///////////////// close list//////////////////
#list-wrapper {
  transition: all 0.1s ease-in-out;
  will-change: transform;
}

.list-closed {
  // transform: translateX(-100vw);
  transform: skewX(-90deg);
  visibility: none;
}

#list-wrapper.list-closed {
  width: 0vw;
}

.list-closed .list-item {
  display: none;
}








// ===================================
//  wrappers de items que não a lista
// ===================================

.section-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0vw;
  height: 100vh;
  overflow: hidden;
  scroll-behavior: smooth;
  transition: all 0.05s linear;
  transform: skewX(-90deg);
  will-change: transform;
}

.wrapper-open {
  transform: skewX(0deg);
  width: 100vw;
  overflow: scroll;
}


















// ===================
//        sobre
// ===================

#sobre-content {
  width: 40vw;
  padding-top: 20vh;
  padding-left: calc(#{$font-size-list} * 0.5);
  padding-top: calc(#{$font-size-list} * 0.5);
  padding-bottom: 5vh;
  font-size: $font-size-text;
  line-height: $font-line-text;
}

.post-ism {
  font-family: pix-regu;
  transform: skewX(-60deg);
  letter-spacing: calc(#{$font-size-list} * -0.18);
  font-size: $font-size-list;
  animation: post-animation-post-ism 5.5s infinite steps(5, end) forwards;
  margin-bottom: 5vh;
}


// ===================
//      expo doc
// ===================

#expo-gallery img {
  display: none;
}

.wrapper-open #expo-gallery img {
  display: block;
}



























// ===================
//      project item
// ===================
#project-wrapper {
  background: white;
  overflow: hidden;
  z-index: 4;
}

#project-header {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 0vw;
  z-index: 5;
}

#x {
  margin-bottom: $main-margin;
  margin-top: $main-margin;
  font-size: $font-size-list;
  margin-right: $main-margin;
  cursor: pointer;
}


#project-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

#project-wrapper {
  display: none;
}

#project-wrapper.wrapper-open {
  display: block;
}





#cover {
  display: grid;
  grid-template-columns: 50vw 50vw;
  height: 100vh;
  overflow: hidden;
}

#cover-left {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 75vh 25vh;
}

#project-titles {
  align-self: end;
  margin: $main-margin;
  margin-left: $main-margin;
  margin-right: $main-margin;
}

#project-title {
  font-size: $project-title;
  text-transform: uppercase;
}

#project-subtitle {
  font-size: $project-subtitle;
}

#project-meta {
  margin-bottom: $main-margin;
  margin-left: $main-margin;
  align-self: end;
  display: grid;
  grid-template-columns: max-content auto;
  font-size: calc(0.9 * #{$font-size-text});
  line-height: calc(0.9 * #{$font-line-text});
}

#project-author {
  font-weight: bold;
  margin-right: $project-margin;
}

#cover-right {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}

#inner-cover-right {
  grid-column-start: 2;
  grid-row-start: 1;
  height: max-content;
}

#cover-img {
  height: 100vh;
  display: grid;
}

#cover-img img {
  max-width: calc(50vw - #{$project-margin});
  max-height: 82vh;
  align-self: center;
}

#cover-text-wrapper {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: max-content;
  display: grid;
  align-items: center;
}

#cover-text {
  margin: $main-margin;
  margin-right: $project-margin;
  line-height: 1.5;
}

.proj-gal {
  display: grid;
}

.proj-gal img {
  max-width: 50vw;
  margin-bottom: 5vh;
}

.proj-gal img:first-child {
  justify-self: center;
}

.proj-gal img:last-child {
  padding-bottom: 20vh;
}

.proj-gal img:nth-child(3n) {
  margin-left: $project-margin;
  justify-self: left;
}

.proj-gal img:nth-child(2n) {
  justify-self: right;
  margin-right: $project-margin;
}

.proj-gal img:nth-child(4n) {
  justify-self: center;
}























/*  ////////////////////////////
            <a>, <p> style
    ///////////////////////////
*/

.web-anchor {
  position: relative;
  justify-self: start;
  color: black;
  font-style: bold;
}

.web-anchor::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.web-anchor:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.c4 {
  font-weight: bold;
}

i,
.c1 {
  font-style: italic;
}

















@media screen and (max-width: 600px) {


  .list-item {
    font-size: calc(1.2 * (1.6vw + 1.1vh));
  }


  #list-wrapper {
    overflow-y: scroll;
    width: 100vw;
  }








  #wrapper {
    width: 100vw;
    height: 100vh;
  }

  .section-wrapper {
    width: 0vw;
  }







  // /* menu  */
  // #menu-wrapper {
  //   writing-mode: horizontal-tb;
  //   left: 0;
  //   height: 20vh;
  //   width: 100vw;
  //   flex-flow: row;
  //   justify-content: space-between;
  // }

  // #slash {
  //   display: none;
  // }

  // .menu-item {
  //   font-size: 2.2vh;
  //   font-weight: bold;
  // }

  // #proj-btn,
  // #sobre-btn,
  // #expo-btn {
  //   font-size: 3.8vh;
  // }

  // .menu-section-wrapper {
  //   flex-flow: column;
  //   justify-content: flex-start;
  // }



// ===================
//       menu
// ===================

#menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  writing-mode: vertical-rl;
  z-index: 3;
}

.menu-section-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu-item {
  cursor: pointer;
  margin: calc(1.5 * #{$main-margin});
  margin-right: $main-margin;
  font-size: calc(1.3* #{$font-size-menu});
}

#eng {
  margin-bottom: 5px;
}

#pt {
  margin-top: 5px;
}

#slash {
  margin-top: 0px;
  margin-bottom: 0px;
}















  /* project-wrapper */
  #project-wrapper {
    font-size: 2vh;
    width: 100vw;
  }

  #cover {
    grid-template-columns: 100vw;
    grid-template-rows: 100vh max-content;
    height: max-content;
  }

  #cover-right {
    grid-row-start: 2;
    grid-template-columns: 100vw;
    height: max-content;
  }

  #inner-cover-right {
    grid-column-start: 1;
    grid-row-start: 1;
    height: max-content;
  }

  #cover-img {
    height: max-content;
    display: grid;
  }

  #cover-img img {
    max-width: 100vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
  }

  #cover-text {
    margin-left: var(--project-margin);
  }

  .proj-gal img {
    max-width: 90vw;
    margin-bottom: 5vh;
  }

  #project-meta {
    padding-bottom: 5vh;
  }

  /* sobre-wrapper */
  #sobre-content {
    font-size: 2vh;
    width: 90vw;
    padding-left: 5vw;
    padding-right: 5vw;
  }
}

