$font-size-list: calc(1.6vw + 2vh);
$font-size-list: calc(1.6vw + 2vh);
$font-size-menu: calc(0.8vw + 0.8vh);
$font-size-text: calc((1vw + 0.5vh));
$main-margin: 1vw;
$project-title: calc(3vw + 2vh);
$project-subtitle: calc((3vw + 2vh) / 2);
$project-margin: calc(3.2vh + #{$main-margin});

::-webkit-scrollbar {
  display: none;
}




body {
  font-family: 'nimbus';
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
  font-size: $font-size-text;
}

#ensaio {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

#wrapper {
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  scrollbar-width: none;
}

#list-wrapper {
  height: 100vh;
  width: max-content;
  overflow-y: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 2;
}

.list-item {
  font-size: $font-size-list;
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: $main-margin;
  margin-top: $main-margin;
}

.listed-project {
  cursor: pointer;
}

.listed-project:hover {
  text-decoration: underline;
}


.post,
.ism {
  font-family: pix-regu;
  margin-left: 3.2vh;
  animation: post-animation 5.5s infinite steps(5, end) forwards;
}

.list-closed {
  transform: translateX(-100vw);
  visibility: none;
}

.sec-open {
  text-decoration: underline;
}

.wrapper-open {
  transform: translateX(-100vw);
  height: 100vh;
  width: 100vw;
}

.section-wrapper {
  top: 0;
  position: absolute;
  left: 100vw;
  transition: all 0.5s ease-in-out;
  overflow: scroll;
  scroll-behavior: smooth;
  z-index: 1;
}

#project-wrapper {
  background: white;
  overflow: hidden;
  z-index: 4;
}

/*  ////////////////////////////
            MENU
    ///////////////////////////
*/

#menu-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  writing-mode: vertical-rl;
  z-index: 3;
}

.menu-section-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.menu-item {
  cursor: pointer;
  margin: $main-margin;
  font-size: $font-size-menu;
}

/*  ////////////////////////////
            PROJECT
    ///////////////////////////
*/

#project-header {
  position: absolute;
  top: 0;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin: $main-margin;
  z-index: 5;
}

#project-content {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: scroll;
}

#x {
  font-size: $font-size-list;
  margin: $main-margin;
  margin-right: $main-margin;
  cursor: pointer;
}

#cover {
  display: grid;
  grid-template-columns: 50vw 50vw;
  height: 100vh;
  overflow: hidden;
}

#cover-left {
  grid-column-start: 1;
  grid-row-start: 1;
  height: 100vh;
  overflow: hidden;
  display: grid;
  grid-template-rows: 60vh 40vh;
}

#project-titles {
  align-self: end;
  margin: $main-margin;
  margin-left: $main-margin;
  margin-right: $main-margin;
}

#project-title {
  font-size: $project-title;
  text-transform: uppercase;
}

#project-subtitle {
  font-size: $project-subtitle;
}

#project-meta {
  margin-bottom: $project-margin;
  margin-left: $project-margin;
  align-self: end;
  display: grid;
  grid-template-columns: max-content auto;
  line-height: 1.2;
}

#project-author {
  font-weight: bold;
  margin-right: $project-margin;
}

#cover-right {
  display: grid;
  grid-template-columns: 50vw 50vw;
  grid-column-start: 1;
  grid-row-start: 1;
  overflow: scroll;
  height: 100vh;
  width: 100vw;
}

#inner-cover-right {
  grid-column-start: 2;
  grid-row-start: 1;
  height: max-content;
}

#cover-img {
  height: 100vh;
  display: grid;
}

#cover-img img {
  max-width: calc(50vw - #{$project-margin});
  max-height: 82vh;
  align-self: center;
}

#cover-text-wrapper {
  padding-top: 10vh;
  padding-bottom: 10vh;
  height: max-content;
  display: grid;
  align-items: center;
}

#cover-text {
  margin: $main-margin;
  margin-right: $project-margin;
  line-height: 1.5;
}

.proj-gal {
  display: grid;
}

.proj-gal img {
  max-width: 50vw;
  margin-bottom: 5vh;
}

.proj-gal img:first-child {
  justify-self: center;
}

.proj-gal img:last-child {
  padding-bottom: 20vh;
}

.proj-gal img:nth-child(3n) {
  margin-left: $project-margin;
  justify-self: left;
}

.proj-gal img:nth-child(2n) {
  justify-self: right;
  margin-right: $project-margin;
}

.proj-gal img:nth-child(4n) {
  justify-self: center;
}

/*  ////////////////////////////
            SOBRE
    ///////////////////////////
*/

#sobre-content {
  width: 40vw;
  padding-left: 10vw;
  padding-top: 20vh;
  padding-bottom: 5vh;
  font-size: $font-size-text;
}

#sobre-content h2 {
  font-size: calc(#{$font-size-text} * 3);
  margin-left: -3.2vh;
  font-weight: bold;
}

/*  ////////////////////////////
            <a>, <p> style
    ///////////////////////////
*/

.web-anchor {
  position: relative;
  justify-self: start;
  color: black;
  font-style: bold;
}

.web-anchor::before {
  content: '';
  position: absolute;
  height: 2px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  transform-origin: bottom left;
  transform: scaleX(1);
  transition: transform 0.3s ease-in-out;
}

.web-anchor:hover::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

.c4 {
  font-weight: bold;
}

i,
.c1 {
  font-style: italic;
}