@font-face {
    font-family: woodland;
    src: url("fonts/woodland-ultralight.ttf");
    font-weight: 1;
}

@font-face {
    font-family: woodland;
    src: url("fonts/woodland-reg.ttf");
    font-weight: 2;
}

@font-face {
    font-family: woodland;
    src: url("fonts/woodland-bold.ttf");
    font-weight: 3;
}



@font-face {
    font-family: worksans;
    src: url("fonts/worksans-regular.ttf");
    font-weight: 2;
}

@font-face {
    font-family: terminal;
    src: url("fonts/terminal-grotesque.ttf");
    font-weight: 2;
}

@font-face {
    font-family: terminal-open;
    src: url("fonts/terminal-grotesque-open.otf");
    font-weight: 2;
}






/*
@font-face {
    font-family: lunchtype;
    src: url("fonts/lunchtype22-light-webfont.ttf");
    font-weight: 1;
}

@font-face {
    font-family: lunchtype;
    src: url("fonts/lunchtype22-medium-webfont.ttf");
    font-weight: 3;
}

@font-face {
    font-family: lunchtype;
    src: url("fonts/lunchtype22-regular-webfont.ttf");
    font-weight: 2;
}
*/


::-webkit-scrollbar { 
    display: none; 
}




body {
    font-family: terminal;
    font-weight: 2;
    overflow: hidden;
}

body, h1, ul, li, div,span, canvas,h2{margin:0;padding:0;}

#wrapper {
    position: absolute;
    top:0;
    left:0;
    width: 97vw;
    height: 100vh;
    
}

#wrapper-title{
    top:0;
    position: fixed;
    width: 97vw;
    height: 100vh;        
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    
    line-height: 0.9;
}

#wrapper-list{
    top:0;
    position: absolute;
    width: 97vw;
    height: 100vh;      
    display:grid;
    align-items: center;
    justify-items: left;
    transition: all .3s ease-in-out;
    overflow: scroll;     
}

#landing-page-space {
    height: 100vh;
    width: 97vw;
}

#proj-ul {
    margin-left: 7vw;
}

#landing{
    
    width:97vw;
    height:100vh;   
    display: grid;
    justify-items: center;
    align-items: center;
}
#landing h1{
    font-size: 20vw;
    font-weight: 2;
    line-height: 0.8; 
    text-align: center; 
}

.transX {
    transform: translateY(-100vh);   
}
ul {
    list-style: none;       
    padding:0px;
    padding-bottom: 6vh; 
    padding-top: 30vh; 
}
    li{
        list-style: none;
        text-align: left;  
        font-weight: 2;
        text-transform: uppercase;
        line-height: calc(1.3vw + 1.3vh);
        font-size: calc(1.5vw + 1.5vh);
        cursor: pointer;
    }
        li:hover{
            font-family: terminal-open;
            line-height: calc(1.7vw + 1.7vh);
            font-size: calc(1.4vw + 1.4vh);
        }

#moving-list {
    display: flex;
    flex-direction: row;
    top: 0;
    list-style: none;
}



#post-list li, #ism-list li {

    line-height: calc(1.3vw + 1.3vh);
    font-size: calc(1.5vw + 1.5vh);
        
}


#ism-list, #post-list{
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
    top: 0;
    height: 100vh;
    overflow: hidden;
}

#post-list {
    left: 0vw;
} 

#ism-list {
    left: 36vw;
} 




#post-list li:first-child {
    
    animation: marquee11 30s linear infinite;

}


#post-list li:last-child {
    animation: marquee12 30s linear infinite;
    animation-delay: 15s;
}


#ism-list li:first-child {
    animation: marquee21 28s linear infinite;
}


#ism-list li:last-child {
    
    animation: marquee22 28s linear infinite;
    animation-delay: 14s;
}

@keyframes marquee11 {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes marquee12 {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}


@keyframes marquee21 {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(100%);
    }
}

@keyframes marquee22 {
    from {
        transform: translateY(-200%);
    }

    to {
        transform: translateY(0%);
    }
}








#wrapper-proj {
    bottom:-100vh;
    left:0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: white;
    transition: all .3s ease-in-out;
    z-index:100;
    display: grid;
    grid-template-columns: 55vw 42vw 3vw;
    grid-template-rows: 11vh 89vh;
    grid-template-areas: 
            "titulo titulo back"
            "gal txt txt";    
}
    .proj-tit {
        grid-area: titulo;  
       
    }
    .proj-tit h2 {
        font-size: 5vw; 
        font-weight: 2;
        margin-left: calc(0.5vh + 0.5vw);   
        text-transform: uppercase;
    }
    .back-btn {
        grid-area:  back;
        text-transform: uppercase;
        writing-mode: vertical-lr;
        font-size: 2vw;
        font-weight: 2;
        cursor: pointer;
        justify-self: center;
        margin-top: calc(0.5vh + 0.5vw);
    }
    .proj-gal {
        grid-area: gal;        
        padding:calc(0.5vh + 0.5vw);
        display:grid;
        grid-template-columns: 100%;
        overflow-y: scroll;
        justify-items: center;
        
    }


    .proj-gal img{
        width: 100%;
        max-width: 51vw;
        margin-bottom:2vw;
    }
    .proj-txt {
        grid-area:  txt;
        overflow: scroll;
        
    }
    .proj-txt p{
        padding:4vw;
        padding-top:0;
        line-height: 1.5;
        
    }


#wrapper-total{
    
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}





#menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    right: 0;
    top: 0;
    width: 3vw;
    height: 100vh;
    background-color: white;

   
    
}

#menu li {
    list-style: none;
    text-transform: uppercase;
    writing-mode: vertical-lr;
    font-size: 2vw;
    line-height: 3vw;
    cursor: pointer;

}

#menu li:first-child {
    margin-top: calc(0.5vh + 0.5vw);
}

#menu li:last-child {
    margin-bottom: calc(0.5vh + 0.5vw);
}


#menu #projectos {
    justify-self: top;
    
}

#menu #sobre {
    justify-self: center;
}

#menu #exposicao {
    
}




